body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}
body .m-menu .mob_none {
  display: none;
}
html {
  font-size: 10px;
}
* {
  box-sizing: border-box;
}
.content {
  width: 980px;
  margin: 0 auto;
}
section .content .title {
  text-align: center;
}
section .content .title:before {
  content: "";
  width: 9rem;
  height: 2px;
  background: #f9bd28;
  display: inline-block;
  vertical-align: middle;
  margin-right: 4rem;
}
section .content .title:after {
  content: "";
  width: 9rem;
  height: 2px;
  background: #f9bd28;
  display: inline-block;
  vertical-align: middle;
  margin-left: 4rem;
}
header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
header .header {
  height: 13rem;
  background: #fff;
  display: flex;
  align-items: center;
  width: 980px;
  text-align: center;
  margin: 0 auto;
}
header .header .logo {
  text-align: center;
  margin: 0 auto;
}
header .header .logo img {
  margin-top: 1rem;
  width: 19rem;
}
header .header .logo h2 {
  font-size: 1.8rem;
  color: #888;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
}
header .header .logo h1 {
  font-size: 2.2rem;
  color: #888;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
  line-height: 2rem;
}
header .header .logo p {
  font-size: 1.5rem;
  color: #888;
  font-weight: 600;
  margin: 0;
}
header .header .social {
  margin-left: -12rem;
}
header .header .social img {
  margin-left: 0.5rem;
}
header .menu {
  height: 5rem;
  background: #e9e9e9;
  display: flex;
  align-items: center;
}
header .menu nav {
  width: 980px;
  margin: 0 auto;
}
header .menu nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 5fr 0.5fr;
  align-items: center;
  justify-items: right;
  width: 100%;
  padding-left: 0;
}
header .menu nav ul li {
  display: grid;
  list-style: none;
}
header .menu nav ul li a {
  text-decoration: none;
  font-size: 1.6rem;
  color: black;
  font-weight: 700;
}
header .menu nav ul .last_li {
  justify-self: flex-end;
  display: grid;
}
header .menu nav ul .last_li .last {
  background: #f9bd28;
  width: 31rem;
  height: 3.5rem;
  border-radius: 5px;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .menu nav ul .last_li .last:active {
  box-shadow: 0px 0px 10px 0px #f9bd28;
}
header .menu nav ul .last_li .last .last_div {
  background: #d92a16;
  font-size: 1.4rem;
  padding: 2px 10px;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  margin-left: 10px;
  text-transform: uppercase;
}
header .menu nav ul .m-menu-link {
  grid-column-start: 5;
  display: none;
  color: #f6bd28;
  font-size: 3.7rem;
}
.m-menu {
  padding-left: 0;
  margin: 0;
  position: fixed;
  width: 100%;
  top: 18rem;
  height: 30rem;
  background-color: #000;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9;
  border-bottom: 5px solid #f6bd28;
}
.m-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 3.5rem;
  line-height: 8rem;
}
.week {
  background: no-repeat center;
  background-size: cover;
  min-height: 25rem;
  box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, 0.6);
}
.week .bibli {
  width: 980px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.week .bibli .text_bibli {
  text-align: center;
}
.week .bibli .text_bibli h2 {
  font-size: 2.2rem;
  color: #f9bd28;
  font-weight: 400;
  line-height: 0;
}
.week .bibli .text_bibli p {
  font-size: 2.8rem;
  color: #fff;
  font-weight: 600;
  width: 100%;
}
.week .bibli .text_bibli h3 {
  font-size: 1.6rem;
  color: #f9bd28;
  font-weight: 700;
  line-height: 0;
}
.week .bibli .skobka1 {
  margin-right: 10rem;
}
.week .bibli .skobka2 {
  margin-left: 10rem;
}
.last_worship {
  min-height: 38rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.last_worship span {
  font-size: 2.2rem;
  font-weight: 700;
  margin-top: 2rem;
}
.last_worship .last_worship_span:before {
  content: "";
  width: 9rem;
  height: 2px;
  background: #f9bd28;
  display: inline-block;
  vertical-align: middle;
  margin-right: 4rem;
}
.last_worship .last_worship_span:after {
  content: "";
  width: 9rem;
  height: 2px;
  background: #f9bd28;
  display: inline-block;
  vertical-align: middle;
  margin-left: 4rem;
}
.last_worship .last_worship_video {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5rem;
}
.last_worship .last_worship_video .last_worship_video1,
.last_worship .last_worship_video .last_worship_video2 {
  margin-bottom: 3rem;
  text-decoration: none;
  text-align: center;
  width: 45rem;
  position: relative;
}
.last_worship .last_worship_video .last_worship_video1 .last_worship_img,
.last_worship .last_worship_video .last_worship_video2 .last_worship_img {
  width: 100%;
}
.last_worship .last_worship_video .last_worship_video1 .span_mask,
.last_worship .last_worship_video .last_worship_video2 .span_mask {
  position: absolute;
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.52);
  z-index: 99;
  top: 7rem;
  left: 17rem;
  margin: 0;
}
.last_worship .last_worship_video .last_worship_video1 .span_mask img,
.last_worship .last_worship_video .last_worship_video2 .span_mask img {
  width: 7rem;
  height: 7rem;
}
.last_worship .last_worship_video .wrap_span {
  color: #000;
  font-size: 1.6rem;
  font-weight: 500;
}
.last_worship .last_worship_video .wrap_span span {
  color: #000;
  font-size: 1.6rem;
  font-weight: 900;
}
.last_worship .last_worship_video h3 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 0;
}
.last_news {
  min-height: 65rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.last_news span {
  font-size: 2.2rem;
  font-weight: 700;
  margin-top: 2rem;
  text-align: center;
}
.last_news .last_news_mini {
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}
.last_news .last_news_mini .last_news_mikro {
  position: relative;
  width: 44rem;
  height: 25rem;
  background: #f1f1f1;
  border-radius: 5px;
}
.last_news .last_news_mini .last_news_mikro img {
  float: left;
  margin-top: 1.8rem;
  margin-left: 2rem;
  width: 21rem;
}
.last_news .last_news_mini .last_news_mikro p {
  padding: 8px 9px;
  background: #fff;
  display: inline-block;
  position: absolute;
  margin-left: -3rem;
  margin-top: 3rem;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 700;
  z-index: 10;
  width: 21rem;
  box-shadow: 1px 1px 5px #888;
}
.last_news .last_news_mini .last_news_mikro span {
  font-size: 1.3rem;
  font-weight: 700;
  position: absolute;
  display: inline-block;
  margin: 14rem 5rem;
}
.last_news .last_news_mini .last_news_mikro a {
  font-size: 1.6rem;
  text-align: center;
  padding-top: 0.8rem;
  width: 14rem;
  height: 4rem;
  background: #f6bd28;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  color: #fff;
  position: absolute;
  margin: 19.5rem 4rem;
  outline: none;
  box-shadow: 2px 3px 6px 2px #d6d6d6;
}
.last_news .last_news_mini .last_news_mikro a:active {
  box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 0 15px 5px rgba(105, 105, 105, 0.3);
}
.last_news .more_news {
  width: 16rem;
  height: 4.5rem;
  font-size: 1.5rem;
  border: 2px solid #f6bd28;
  border-radius: 7px;
  font-weight: 700;
  background: transparent;
  margin: 0 auto;
  margin-bottom: 2rem;
  outline: none;
  box-shadow: 1px 2px 6px 2px #d6d6d6;
  text-align: center;
  padding-top: 1rem;
}
.last_news .more_news:active {
  box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 0 15px 5px rgba(105, 105, 105, 0.3);
}
.worship {
  background: #f1f1f1;
  min-height: 50rem;
  display: flex;
  flex-direction: column;
}
.worship .worship_div {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.worship .button_mini {
  width: 12rem;
  height: 12rem;
  text-align: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 6px 2px #d6d6d6;
  font-size: 1.3rem;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 4rem;
  justify-self: center;
}
.worship .button_mini:hover {
  box-shadow: 0px 0px 20px 1px #999;
}
.worship .button_mini:active {
  box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 0 15px 5px rgba(105, 105, 105, 0.3);
}
.worship .button_mini img {
  margin-top: 1rem;
}
.worship .button_mini h3 {
  margin: 0;
}
.worship span {
  display: block;
  font-size: 2.2rem;
  font-weight: 700;
  padding-top: 2rem;
  margin: 0 auto;
}
.worship .new_worship_div1,
.worship .new_worship_div2 {
  display: none;
}
.article {
  min-height: 42rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5rem;
  align-items: center;
}
.article .articles1 {
  width: 47rem;
  height: 26rem;
  justify-self: end;
}
.article .articles1 img {
  width: 100%;
  height: 100%;
}
.article .articles2 {
  width: 47rem;
  height: 26rem;
  justify-self: start;
}
.article .articles2 img {
  width: 100%;
  height: 100%;
}
.article .mini_button {
  position: absolute;
  display: flex;
  width: 100%;
  height: 6rem;
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  border: none;
  outline: none;
  border-top: 2px solid #f6bd28;
  color: #fff;
  font-size: 1.8rem;
  align-items: center;
  justify-content: center;
}
.article .wrap_button {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  z-index: 10;
}
.good_link {
  min-height: 33rem;
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
}
.good_link span {
  font-size: 2.2rem;
  font-weight: 700;
  padding-top: 2rem;
  margin: 0 auto;
}
.good_link .good_link_wrap {
  display: flex;
  justify-content: space-between;
  width: 55%;
  padding-top: 5rem;
  margin: 0 auto;
  padding-bottom: 5rem;
}
.good_link .good_link_wrap p {
  font-size: 1.4rem;
  font-weight: 700;
}
.good_link .good_link_wrap .good_link_mini {
  text-align: center;
  width: 14.5rem;
  min-height: 20rem;
  border: 1px solid transparent;
  position: relative;
}
.good_link .good_link_wrap .good_link_mini button {
  font-size: 1.6rem;
  width: 14rem;
  height: 3.8rem;
  background: #f6bd28;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  color: #fff;
  right: 0;
  position: absolute;
  outline: none;
  cursor: pointer;
  box-shadow: 1px 2px 6px 2px #d6d6d6;
}
.good_link .good_link_wrap .good_link_mini button:active {
  box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 0 15px 5px rgba(105, 105, 105, 0.3);
}
footer {
  min-height: 40rem;
  background: #171717;
}
footer .footer_one {
  background: #000;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer_one p {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 800;
}
footer .routine {
  display: flex;
  justify-content: space-between;
  /* border:2px solid red; */
  width: 53%;
  margin: 0 auto;
  margin-top: 4rem;
}
footer .routine .routine_mini {
  width: 20rem;
  height: 7rem;
  text-align: center;
}
footer .routine .routine_mini span {
  padding: 6px 25px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 800;
  border-bottom: 2px solid #f6bd28;
}
footer .routine .routine_mini p {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
}
footer .adress {
  width: 26rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  margin-top: 4rem;
}
footer .adress span {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 17px;
}
footer .adress a {
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
  font-weight: 800;
  margin-top: 1rem;
}
footer .adress button {
  font-size: 1.6rem;
  width: 23rem;
  height: 4rem;
  background: #f6bd28;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  color: #fff;
  margin: 0 auto;
  outline: none;
  cursor: pointer;
  padding: 10px 10px;
}
footer .adress button:active {
  box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 0 15px 5px rgba(105, 105, 105, 0.3);
}
footer .adress .footer_social {
  margin-top: 1.5rem;
}
footer .adress .footer_social img {
  margin-left: 8px;
}
footer .footers {
  height: 3rem;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footers p {
  font-size: 1.6rem;
  color: #6c6c6c;
  font-weight: 600;
}
@media (max-width: 980px) {
  .content {
    width: 550px !important;
  }
  .header .social {
    display: none;
  }
  .menu ul {
    display: grid;
    grid-template-columns: 5fr 1fr;
    align-items: center;
    justify-items: left;
    width: 100%;
    margin: 0 auto;
  }
  .menu ul li:nth-child(1),
  .menu ul li:nth-child(2),
  .menu ul li:nth-child(3) {
    display: none !important;
  }
  .menu ul .last_li {
    grid-column-start: 1 !important;
  }
  .menu ul .last_li .last_div {
    padding: 2px 5px;
  }
  .menu ul .last_li .last {
    display: none;
  }
  .menu ul .m-menu-link {
    display: inline-block !important;
    display: block;
  }
  .week .bibli {
    width: 550px !important;
    min-width: 320px;
  }
  .week .bibli .skobka {
    display: none;
  }
  .week .bibli .text_bibli p {
    font-size: 2.6rem;
  }
  .last_worship .last_worship_video {
    width: 85%;
    flex-direction: column;
  }
  .last_worship .last_worship_span:before {
    content: "";
    width: 0rem !important;
    height: 0px !important;
  }
  .last_worship .last_worship_span:after {
    content: "";
    width: 0rem !important;
    height: 0px !important;
  }
  .last_news .last_news_mini2 {
    display: none !important;
  }
  .last_news .last_news_mini {
    flex-direction: column;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .last_news .last_news_mini .last_news_mikro {
    margin: 0 auto !important;
    margin-top: 3rem !important;
  }
  .last_news .last_news_mini .last_news_mikro span {
    margin: 16rem 4rem;
  }
  .worship .worship_div {
    width: 40% !important;
    grid-template-columns: 1fr 1fr !important;
  }
  .worship .worship_div .button_mini {
    width: 14rem;
    height: 14rem;
    margin-top: 3rem;
  }
  .article {
    width: 100%;
    margin: 0 auto;
    min-height: 42rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 4rem;
  }
  .article .articles1,
  .article .articles2 {
    margin: 0 auto;
    width: 320px;
    height: 24rem;
    margin-top: 4rem;
  }
  .good_link {
    background: none;
  }
  .good_link .last_worship_span:before {
    display: none !important;
  }
  .good_link .last_worship_span:after {
    display: none !important;
  }
  .good_link .good_link_wrap {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .good_link .good_link_wrap div {
    margin: 0 auto;
    margin-top: 7rem;
  }
  .good_link .good_link_wrap div:first-child {
    margin-top: 0;
  }
  footer .routine {
    width: 65%;
    flex-direction: column;
    margin: 0 auto;
  }
  footer .routine .routine_mini {
    margin: 0 auto;
    margin-top: 5rem;
  }
}
@media (max-width: 550px) {
  html {
    font-size: 8.5px;
  }
  .content {
    width: 320px !important;
  }
  header .header h1 {
    font-size: 2rem !important;
  }
  header .header h2 {
    font-size: 1.6rem !important;
  }
  header .menu nav {
    padding-left: 10px;
    padding-right: 10px;
  }
  header .menu ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .menu ul li:nth-child(1),
  header .menu ul li :nth-child(2),
  header .menu ul li :nth-child(3) {
    display: none !important;
  }
  header .menu .last_li {
    grid-column-start: 1 !important;
  }
  header .menu .last_li .last {
    width: 23rem !important;
    font-weight: 600 !important;
  }
  .week .bibli {
    width: 320px !important;
  }
  .week .bibli .text_bibli {
    width: 100% !important;
    margin-top: 2rem !important;
  }
  .week .bibli .text_bibli h2 {
    font-size: 2rem !important;
  }
  .week .bibli .text_bibli p {
    font-size: 2.4rem !important;
    line-height: 2.8rem !important;
  }
  .last_worship .last_worship_video1,
  .last_worship .last_worship_video2 {
    width: 35rem !important;
    height: 23rem !important;
  }
  .last_worship .last_worship_video1 .span_mask,
  .last_worship .last_worship_video2 .span_mask {
    top: 5rem !important;
    left: 13rem !important;
  }
  .last_news .last_news_mini .last_news_mikro {
    width: 95% !important;
    height: 20rem;
  }
  .last_news .last_news_mini .last_news_mikro img {
    width: 16rem;
  }
  .last_news .last_news_mini .last_news_mikro p {
    width: 19rem;
    line-height: 1.5rem;
    font-size: 12px;
  }
  .last_news .last_news_mini .last_news_mikro span {
    font-size: 8px;
    margin: 12rem 4.5rem;
  }
  .last_news .last_news_mini .last_news_mikro a {
    font-size: 11px;
    width: 11rem;
    height: 3.5rem;
    margin: 14rem 3rem;
  }
  .worship .worship_div {
    width: 60% !important;
    grid-template-columns: 1fr 1fr !important;
  }
}
