body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

body .m-menu .mob_none {
  display: none;
}

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

// переміні
//mob = 320
//plansh = 768    500
//desk = 1200   980

@content: 980px;
@content_tab: 550px;
@content_mob: 320px;

// Згальні контент
.content {
  width: @content;
  margin: 0 auto;
}

//Заголовок до кожної секції
._title_section() {
  & {
    text-align: center;
  }

  &:before {
    content: "";
    width: 9rem;
    height: 2px;
    background: #f9bd28;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4rem;
  }

  &:after {
    content: "";
    width: 9rem;
    height: 2px;
    background: #f9bd28;
    display: inline-block;
    vertical-align: middle;
    margin-left: 4rem;
  }
}

section .content .title {
  ._title_section;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .header {
    height: 13rem;
    background: #fff;
    display: flex;
    align-items: center;
    width: @content;
    text-align: center;
    margin: 0 auto;
    //border: 1px solid red;

    .logo {
      text-align: center;
      margin: 0 auto;

      img {
        margin-top: 1rem;
        width: 19rem;
      }

      h2 {
        font-size: 1.8rem;
        color: #888;
        font-weight: 800;
        text-transform: uppercase;
        margin: 0;
      }

      h1 {
        font-size: 2.2rem;
        color: #888;
        font-weight: 800;
        text-transform: uppercase;
        margin: 0;
        line-height: 2rem;
      }

      p {
        font-size: 1.5rem;
        color: #888;
        font-weight: 600;
        margin: 0;
      }
    }

    .social {
      margin-left: -12rem;

      img {
        margin-left: 0.5rem;
      }
    }
  }

  .menu {
    height: 5rem;
    background: #e9e9e9;
    display: flex;
    align-items: center;

    nav {
      width: @content;
      margin: 0 auto;

      //border: 1px solid green;
      ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 5fr 0.5fr;
        align-items: center;
        justify-items: right;
        width: 100%;
        padding-left: 0;

        li {
          display: grid;
          list-style: none;

          a {
            text-decoration: none;
            font-size: 1.6rem;
            color: black;
            font-weight: 700;
          }
        }

        .last_li {
          justify-self: flex-end;
          display: grid;

          .last {
            background: #f9bd28;
            width: 31rem;
            height: 3.5rem;
            border-radius: 5px;
            //margin-left: 5.5rem;

            outline: none;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;

            &:active {
              box-shadow: 0px 0px 10px 0px #f9bd28;
            }

            .last_div {
              background: #d92a16;
              font-size: 1.4rem;
              padding: 2px 10px;
              border-radius: 5px;
              color: #fff;
              font-weight: 700;
              margin-left: 10px;
              text-transform: uppercase;
            }
          }
        }

        .m-menu-link {
          grid-column-start: 5;
          display: none;
          color: #f6bd28;
          font-size: 3.7rem;
        }
      }
    }
  }
}

.m-menu {
  padding-left: 0;
  margin: 0;
  position: fixed;
  width: 100%;
  top: 18rem;
  height: 30rem;
  background-color: #000;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9;
  border-bottom: 5px solid #f6bd28;

  a {
    color: #fff;
    text-decoration: none;
    font-size: 3.5rem;
    line-height: 8rem;
  }
}

.week {
  background: no-repeat center;
  background-size: cover;
  min-height: 25rem;
  box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, 0.6);

  .bibli {
    width: @content;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .text_bibli {
      text-align: center;
      //width: 60%;

      h2 {
        font-size: 2.2rem;
        color: #f9bd28;
        font-weight: 400;
        line-height: 0;
      }

      p {
        font-size: 2.8rem;
        color: #fff;
        font-weight: 600;
        width: 100%;
      }

      h3 {
        font-size: 1.6rem;
        color: #f9bd28;
        font-weight: 700;
        line-height: 0;
      }
    }

    .skobka1 {
      margin-right: 10rem;
    }

    .skobka2 {
      margin-left: 10rem;
    }
  }
}

.last_worship {
  min-height: 38rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    font-size: 2.2rem;
    font-weight: 700;
    margin-top: 2rem;
  }

  .last_worship_span:before {
    content: "";
    width: 9rem;
    height: 2px;
    background: #f9bd28;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4rem;
  }

  .last_worship_span:after {
    content: "";
    width: 9rem;
    height: 2px;
    background: #f9bd28;
    display: inline-block;
    vertical-align: middle;
    margin-left: 4rem;
  }

  .last_worship_video {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5rem;

    .last_worship_video1,
    .last_worship_video2 {
      margin-bottom: 3rem;
      text-decoration: none;
      text-align: center;
      width: 45rem;
      position: relative;

      .last_worship_img {
        width: 100%;
      }
      .span_mask {
        position: absolute;
        width: 10rem;
        height: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.52);
        z-index: 99;
        top: 7rem;
        left: 17rem;
        margin: 0;

        img {
          width: 7rem;
          height: 7rem;
        }
      }
    }

    .wrap_span {
      color: #000;
      font-size: 1.6rem;
      font-weight: 500;
      span {
        color: #000;
        font-size: 1.6rem;
        font-weight: 900;
      }
    }

    h3 {
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 0;
    }
  }
}

.last_news {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  span {
    font-size: 2.2rem;
    font-weight: 700;
    margin-top: 2rem;
    text-align: center;
  }

  .last_news_mini {
    margin: 0 auto;
    // border: 2px solid red;
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;

    .last_news_mikro {
      // border: 2px solid red;
      position: relative;
      width: 44rem;
      height: 25rem;
      background: #f1f1f1;
      border-radius: 5px;

      img {
        float: left;
        margin-top: 1.8rem;
        margin-left: 2rem;
        width: 21rem;
      }

      p {
        padding: 8px 9px;
        background: #fff;
        display: inline-block;
        position: absolute;
        margin-left: -3rem;
        margin-top: 3rem;
        border-radius: 5px;
        font-size: 1.5rem;
        font-weight: 700;
        z-index: 10;
        width: 21rem;
        box-shadow: 1px 1px 5px #888;
      }

      span {
        font-size: 1.3rem;
        font-weight: 700;
        position: absolute;
        display: inline-block;
        margin: 14rem 5rem;
      }

      a {
        font-size: 1.6rem;
        text-align: center;
        padding-top: 0.8rem;
        width: 14rem;
        height: 4rem;
        background: #f6bd28;
        border: none;
        border-radius: 5px;
        font-weight: 700;
        color: #fff;
        position: absolute;
        margin: 19.5rem 4rem;
        outline: none;
        box-shadow: 2px 3px 6px 2px #d6d6d6;

        &:active {
          box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.1),
            inset 0 1px 2px rgba(0, 0, 0, 0.3),
            inset 0 0 15px 5px rgba(105, 105, 105, 0.3);
        }
      }
    }
  }

  .more_news {
    width: 16rem;
    height: 4.5rem;
    font-size: 1.5rem;
    border: 2px solid #f6bd28;
    border-radius: 7px;
    font-weight: 700;
    background: transparent;
    margin: 0 auto;
    margin-bottom: 2rem;
    outline: none;
    box-shadow: 1px 2px 6px 2px #d6d6d6;
    text-align: center;
    padding-top: 1rem;
    margin-top: 2rem;

    &:active {
      box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.1),
        inset 0 1px 2px rgba(0, 0, 0, 0.3),
        inset 0 0 15px 5px rgba(105, 105, 105, 0.3);
    }
  }
}

.worship {
  background: #f1f1f1;
  min-height: 50rem;
  display: flex;
  flex-direction: column;

  .worship_div {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .button_mini {
    width: 12rem;
    height: 12rem;
    text-align: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 6px 2px #d6d6d6;
    font-size: 1.3rem;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 4rem;
    justify-self: center;

    &:hover {
      box-shadow: 0px 0px 20px 1px #999;
    }

    &:active {
      box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.1),
        inset 0 1px 2px rgba(0, 0, 0, 0.3),
        inset 0 0 15px 5px rgba(105, 105, 105, 0.3);
    }

    img {
      margin-top: 1rem;
    }

    h3 {
      margin: 0;
    }
  }

  span {
    display: block;
    font-size: 2.2rem;
    font-weight: 700;
    padding-top: 2rem;
    margin: 0 auto;
  }

  .new_worship_div1,
  .new_worship_div2 {
    display: none;
  }
}

.article {
  .wrap_article {
    min-height: 42rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .articles1,
    .articles2 {
      width: 47rem;
      height: 26rem;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
.good_link {
  min-height: 33rem;
  background: #f1f1f1;
  display: flex;
  flex-direction: column;

  span {
    font-size: 2.2rem;
    font-weight: 700;
    padding-top: 2rem;
    margin: 0 auto;
  }

  .good_link_wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;
    margin: 0 auto;
    padding-bottom: 5rem;

    p {
      font-size: 1.4rem;
      font-weight: 700;
    }

    .good_link_mini {
      text-align: center;
      width: 14.5rem;
      min-height: 20rem;
      position: relative;
      border: 1px solid transparent;
      position: relative;

      button {
        font-size: 1.6rem;
        width: 14rem;
        height: 3.8rem;
        background: #f6bd28;
        border: none;
        border-radius: 5px;
        font-weight: 700;
        color: #fff;
        right: 0;
        position: absolute;
        outline: none;
        cursor: pointer;
        box-shadow: 1px 2px 6px 2px #d6d6d6;

        &:active {
          box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.1),
            inset 0 1px 2px rgba(0, 0, 0, 0.3),
            inset 0 0 15px 5px rgba(105, 105, 105, 0.3);
        }
      }
    }
  }
}

footer {
  min-height: 40rem;
  background: #171717;

  .footer_one {
    background: #000;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      color: #fff;
      font-size: 2.2rem;
      font-weight: 800;
    }
  }

  .routine {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 4rem;

    .routine_mini {
      width: 20rem;
      height: 7rem;
      text-align: center;

      span {
        padding: 6px 25px;
        color: #fff;
        font-size: 1.6rem;
        font-weight: 800;
        border-bottom: 2px solid #f6bd28;
      }

      p {
        color: #fff;
        font-size: 1.6rem;
        font-weight: 700;
      }
    }
  }

  .adress {
    width: 26rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    margin-top: 4rem;

    span {
      color: #fff;
      font-size: 1.6rem;
      font-weight: 700;
      margin-bottom: 1rem;
      line-height: 17px;
    }

    a {
      color: #fff;
      font-size: 2rem;
      text-decoration: none;
      font-weight: 800;
      margin-top: 1rem;
    }

    button {
      font-size: 1.6rem;
      width: 23rem;
      height: 4rem;
      background: #f6bd28;
      border: none;
      border-radius: 5px;
      font-weight: 700;
      color: #fff;
      margin: 0 auto;
      outline: none;
      cursor: pointer;
      padding: 10px 10px;

      &:active {
        box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.1),
          inset 0 1px 2px rgba(0, 0, 0, 0.3),
          inset 0 0 15px 5px rgba(105, 105, 105, 0.3);
      }
    }

    .footer_social {
      margin-top: 1.5rem;

      img {
        margin-left: 8px;
      }
    }
  }

  .footers {
    height: 3rem;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-size: 1.6rem;
      color: #6c6c6c;
      font-weight: 600;
    }
  }
}

////-------------------------------------------------------
@media (max-width: 980px) {
  // html {
  //   font-size: 8.5px;
  // }
  .content {
    width: 550px !important;
  }
  .header {
    .social {
      display: none;
    }
  }
  .menu {
    ul {
      display: grid;
      grid-template-columns: 5fr 1fr;
      align-items: center;
      justify-items: left;
      width: 100%;
      margin: 0 auto;
      li {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          display: none !important;
        }
      }
      .last_li {
        grid-column-start: 1 !important;
        .last_div {
          padding: 2px 5px;
        }
        .last {
          display: none;
        }
      }
      .m-menu-link {
        display: inline-block !important;
        display: block;
      }
    }
  }
  .week {
    .bibli {
      width: @content_tab !important;
      min-width: 320px;
      .skobka {
        display: none;
      }
      .text_bibli {
        p {
          font-size: 2.6rem;
        }
      }
    }
  }
  .last_worship {
    .last_worship_video {
      width: 85%;
      flex-direction: column;
    }
    .last_worship_span:before {
      content: "";
      width: 0rem !important;
      height: 0px !important;
    }

    .last_worship_span:after {
      content: "";
      width: 0rem !important;
      height: 0px !important;
    }
  }

  .last_news {
    .last_news_mini2 {
      display: none !important;
    }
    .last_news_mini {
      flex-direction: column;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      .last_news_mikro {
        margin: 0 auto !important;
        margin-top: 3rem !important;
        span {
          margin: 16rem 4rem;
        }
      }
    }
  }

  .worship {
    .worship_div {
      width: 40% !important;
      grid-template-columns: 1fr 1fr !important;
      .button_mini {
        width: 14rem;
        height: 14rem;
        margin-top: 3rem;
      }
    }
  }

  .article {
    .wrap_article {
      flex-direction: column !important;
      margin-bottom: 3rem;
    }
    .articles1,
    .articles2 {
      margin: 0 auto;
      width: 320px;
      height: 24rem;
      margin-top: 4rem;
    }
  }
  .good_link {
    background: none;
    .last_worship_span:before {
      display: none !important;
    }

    .last_worship_span:after {
      display: none !important;
    }
    .good_link_wrap {
      div {
        margin: 0 auto;
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
  footer {
    .routine {
      margin: 0 auto;
      .routine_mini {
        margin: 0 auto;
        margin-top: 5rem;
        p {
          font-size: 1.4rem;
        }
      }
    }
  }
}

@media (max-width: 550px) {
  html {
    font-size: 8.5px;
  }

  .content {
    width: 320px !important;
  }
  header {
    .header {
      h1 {
        font-size: 2rem !important;
      }
      h2 {
        font-size: 1.6rem !important;
      }
    }
    .menu {
      nav {
        padding-left: 10px;
        padding-right: 10px;
      }
      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;

        li {
          &:nth-child(1),
          :nth-child(2),
          :nth-child(3) {
            display: none !important;
          }
        }
      }

      .last_li {
        grid-column-start: 1 !important;

        .last {
          width: 23rem !important;
          font-weight: 600 !important;
        }
      }
    }
  }

  .week {
    .bibli {
      width: @content_mob !important;
      .text_bibli {
        width: 100% !important;
        margin-top: 2rem !important;
        h2 {
          font-size: 2rem !important;
        }
        p {
          font-size: 2.4rem !important;
          line-height: 2.8rem !important;
        }
      }
    }
  }

  .last_worship {
    .last_worship_video1,
    .last_worship_video2 {
      width: 35rem !important;
      height: 23rem !important;
      .span_mask {
        top: 5rem !important;
        left: 13rem !important;
      }
    }
  }
  .last_news {
    .last_news_mini {
      .last_news_mikro {
        //margin-top: 0 !important;
        width: 95% !important;
        height: 20rem;
        img {
          width: 16rem;
        }
        p {
          width: 19rem;
          line-height: 1.5rem;
          font-size: 12px;
        }
        span {
          font-size: 8px;
          margin: 12rem 4.5rem;
        }
        a {
          font-size: 11px;
          width: 11rem;
          height: 3.5rem;
          margin: 14rem 3rem;
        }
      }
    }
    .more_news {
      margin-top: 2rem;
    }
  }

  .worship {
    .worship_div {
      width: 60% !important;
      grid-template-columns: 1fr 1fr !important;
    }
  }
  .article {
    .articles1,
    .articles2 {
      width: 95% !important;
      height: 160px !important;
    }
  }
  .good_link {
    .good_link_wrap {
      flex-direction: column;
      div {
        margin-top: 7rem;
      }
    }
  }
  footer {
    .routine {
      flex-direction: column;
      margin: 0 auto;
      .routine_mini {
        margin: 0 auto;
        margin-top: 5rem;
        p {
          font-size: 1.6rem;
        }
      }
    }
  }
}
