@media (max-width: 1199px) {
	html {
		font-size: 8.5px;
	}

	.worship_div {
		width: 40% !important;
		grid-template-columns: 1fr 1fr !important;

	}

	.last_div {
		padding: 2px 5px;
	}

	.last_news_mikro span {
		margin: 16rem 4rem;
	}

	.last_worship_video1 iframe,
	.last_worship_video2 iframe {
		width: 380px;
		height: 210px;
	}

	.last_worship_video {
		width: 85%;
	}

	.menu nav {
		width: 85%;
	}

	.social {
		display: none;
	}

	.bibli {
		width: 85%;
	}

	.text_bibli {
		width: 100%;
	}

	.last {
		display: none;
	}

	.last_991 {
		display: inline-block;
		background: #F9BD28;
		width: 21rem;
		height: 3.5rem;
		border-radius: 5px;
		margin-left: 5.5rem;
		font-weight: 700;
		color: #444;
		letter-spacing: 1px;
		font-size: 1.5rem;
		outline: none;
		border: none;
		cursor: pointer;
	}

	.last_div_991 {
		background: #D92A16;
		font-size: 1.4rem;
		padding: 2px 2px;
		border-radius: 5px;
		color: #fff;
		font-weight: 700;
		margin-left: 4px;
		text-transform: uppercase;
	}

	.menu nav {
		width: 90%;
	}

	.last_worship_video {
		flex-direction: column;
	}

	.last_worship_video1 iframe,
	.last_worship_video2 iframe {
		width: 490px;
		height: 260px;
	}

	.last_worship_video2 iframe {
		margin-top: 5rem;
	}

	.button_mini {
		width: 14rem;
		height: 14rem;
	}

	.last_news {
		width: 90%;
	}

	.last_news_mini {
		margin-top: 2rem;
		display: flex;
		justify-content: space-around;
	}





	.good_link_wrap {
		width: 65%;
	}

	.routine {
		width: 65%;
	}

	.menu .last_991 {
		display: block;
	}

	.menu ul {
		width: 80%;

		margin: 0 auto;
	}

	.menu ul li {
		display: none;
	}

	.m-menu-link {
		display: block;
	}

	.last_991 {
		display: inline-block;
		background: #F9BD28;
		width: 48%;
		min-width: 27rem;
		height: 3.5rem;
		border-radius: 5px;
		font-weight: 700;
		color: #444;
		letter-spacing: 2px;
		font-size: 1.7rem;
		outline: none;
		border: none;
		cursor: pointer;
	}

	.last_div_991 {
		background: #D92A16;
		font-size: 1.5rem;
		padding: 2px 6px;
		border-radius: 5px;
		color: #fff;
		font-weight: 700;
		margin-left: 15px;
		text-transform: uppercase;
	}

	.skobka {
		display: none;
	}

	.bibli {
		width: 55%;
		min-width: 320px;
	}

	.text_bibli p {
		font-size: 2.6rem;
	}

	/* .last_worship_video1 iframe,.last_worship_video2 iframe {
	    width:320px;
	    height:182px; 
    } */
	.last_worship_span:before {
		display: none;

	}

	.last_worship_span:after {
		display: none;

	}

	.last_news_mini2 {
		display: none;
	}

	.last_news_mini {
		flex-direction: column;
		margin: 0 auto;
	}

	.last_news_mikro {
		margin-top: 3rem;
	}

	.button_mini {
		margin-top: 3rem;
	}

	.article {
		width: 100%;
		margin: 0 auto;
		min-height: 42rem;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		padding-bottom: 4rem;
	}

	.articles1,
	.articles2 {
		margin: 0 auto;
		width: 320px;
		height: 24rem;
		margin-top: 4rem;
	}

	.good_link_wrap {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.good_link_wrap div {
		margin: 0 auto;
		margin-top: 7rem;
	}

	.good_link_wrap div:first-child {
		margin-top: 0;
	}

	.good_link {
		background: none;
	}

	.routine {
		flex-direction: column;
		margin: 0 auto;
	}

	.routine_mini {
		margin: 0 auto;
		margin-top: 5rem;
	}

}

@media (max-width: 791px) {
	.worship_div {
		width: 60% !important;
		grid-template-columns: 1fr 1fr !important;

	}

	.last_worship_video1 iframe,
	.last_worship_video2 iframe {
		width: 375px !important;
		height: 220px;
	}

	.text_bibli h2 {
		font-size: 2rem !important;
	}

	.last_worship_span:before {
		content: "";
		width: 0rem !important;
		height: 0px !important;

	}

	.last_worship_span:after {
		content: "";
		width: 0rem !important;
		height: 0px !important;

	}

	.text_bibli {
		width: 100% !important;
	}

	.last_news_mikro {
		width: 42rem !important;
		margin-left: 0rem !important;
	}
}

@media (max-width: 424px) {
	.logo h1 {
		font-size: 1.8rem !important;
	}

	.articles1,
	.articles2 {
		width: 35rem !important;
		height: 20rem !important;
	}

	.last_news_mikro {
		width: 37rem !important;
		height: 21rem !important;
	}

	.last_news_mikro img {
		width: 17rem !important;
	}
	.last_news_mikro button {
		font-size: 1.5rem;
		width: 12rem !important;
		height: 4rem;
	}

}