@media (max-width: 1199px) {
	html {
		font-size: 8.5px;
	}
	.last_div{
		padding:2px 5px;
	}
	.last_news_mikro span {
		margin:16rem 4rem;
	}
	.last_worship_video1 iframe,.last_worship_video2 iframe {
	    width: 380px;
	    height: 210px;
    }
	.last_worship_video {
		width: 85%;
	}
	.menu nav {
		width: 85%;
	}
}
@media (max-width: 991px) {
	html {
		font-size: 8px;
	}
	.social {
		display: none;
	}
    .bibli {
    	width: 85%;
    }
    .text_bibli {
    	width: 100%;
    }   
    .last {
    	display: none;
    }
    .last_991 {
    display: inline-block;
    background: #F9BD28;
	width:21rem;
	height: 3.5rem;
	border-radius: 5px;
	margin-left: 5.5rem;
	font-weight: 700;
	color:#444;
	letter-spacing: 1px;
	font-size: 1.5rem;
	outline: none;
	border: none;
	cursor: pointer;
    }
    .last_div_991 {
	background:#D92A16;
	font-size: 1.4rem;
	padding:2px 2px;
	border-radius: 5px;
	color:#fff;
	font-weight: 700;
	margin-left: 4px;
	text-transform: uppercase;
    }
	.menu nav {
		width: 90%;
	}
    .last_worship_video {
    	flex-direction: column;
    }
    .last_worship_video1 iframe,.last_worship_video2 iframe {
	    width: 490px;
	    height: 260px;
    }
    .last_worship_video2 iframe {
    	margin-top: 5rem;
    }
    .button_mini  {
    	width: 14rem;
    	height: 14rem;
    }
    .last_news {
    	width: 90%;
    }
    .last_news_mini {
    	margin-top: 2rem;
	    display: flex;
	    justify-content: space-around;
    }
    .worship_div1,.worship_div2 {
    	width: 90%;
    	/* justify-content: space-around; */
    }
    .worship_div3 {
    	width: 37%;
    }
    .good_link_wrap {
    	width: 65%;
    }
    .routine {
    	width: 65%;
    }
}
@media (max-width: 799px) {
	.menu .last_991{
		display: block;
	}
	.menu ul {
		width: 80%;
		
		margin: 0 auto;
	}
	.menu ul li{
		display: none;
	}
	.m-menu-link {
	    display:block;
    }
     .last_991 {
    display: inline-block;
    background: #F9BD28;
	width:48%;
	min-width: 27rem;
	height: 3.5rem;
	border-radius: 5px;
	font-weight: 700;
	color:#444;
	letter-spacing: 2px;
	font-size: 1.7rem;
	outline: none;
	border: none;
	cursor: pointer;
    }
    .last_div_991 {
	background:#D92A16;
	font-size: 1.5rem;
	padding:2px 6px;
	border-radius: 5px;
	color:#fff;
	font-weight: 700;
	margin-left: 15px;
	text-transform: uppercase;
    }
    .skobka {
    	display: none;
    }
    .bibli {
    	width: 55%;
    	min-width: 320px;
    }
    .text_bibli p {
	font-size: 2.6rem;
    }
    .last_worship_video1 iframe,.last_worship_video2 iframe {
	    width:320px;
	    height:182px; 
    }
    .last_worship_span:before {
	    display: none;
	
    }
    .last_worship_span:after {
	    display: none;
	
    }
    .last_news_mini2 {
    	display: none;
    }
    .last_news_mini {
    	flex-direction: column;
        margin: 0 auto;
    }
    .last_news_mikro {
    	margin-top: 3rem;
    }
    .new_worship_div {
    	width: 60%;
    	margin: 0 auto;
    	display: flex;
    	justify-content: space-around;
    	padding-bottom: 4rem;
    }
    .new_worship_div1,.new_worship_div2{
	   display:flex;
	   flex-direction: column;
       
    }
    .worship_div1,.worship_div2,.worship_div3{
    	display: none;
    }
    .button_mini {
    	margin-top: 3rem;
    }
    .article {
    	margin: 0 auto;
	    min-height: 42rem;
	    display: flex;
	    align-items: center;
	    flex-direction: column;
	    justify-content: center;
	    padding-bottom: 4rem;
    }
    .articles1,.articles2 {
    	margin: 0 auto;
    	width:320px;
    	height: 24rem;
    	margin-top: 4rem;
    }
    .good_link_wrap{
    	display: flex;
	    flex-direction: column;
	    justify-content: center;
    }
    .good_link_wrap div {
    	margin: 0 auto;
    	margin-top: 7rem;
    }
    .good_link_wrap div:first-child{
    	margin-top: 0;
    }
    .good_link {
    	background:none;
    }
    .routine {
    	flex-direction: column;
    	margin: 0 auto;
    }
    .routine_mini {
        margin: 0 auto;
        margin-top: 5rem;
    }
}
